@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.spinner {
  background-color: #7e98df;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  color: white;
  font-weight: 600;
}

.card {
  font-family: "Rubik", sans-serif;
  height: auto;
  width: max-content;
  border-radius: 30px;
  border: 0;
}

.login {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #7e98df;
  margin: 20px 30px 30px 30px;
}

.welcomeBack {
  margin: 0px 30px 30px 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #232323;
}
.formGroup {
  margin: 10px 30px 20px 30px;
}
.textLabel {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
}

.placeholder::placeholder {
  color: #7e98df;
  opacity: 1;
}

.placeholder {
  border-bottom: 2px solid #7e98df;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding-left: 0;
  height: 45px;
}

.placeholder:focus,
.placeholder:active,
.placeholder option:focus,
.placeholder option:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #232323;
}

.forgotPassword {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  color: #7e98df;
  margin: 20px 30px 20px 30px;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.rowButton {
  margin: 30px;
}

.buttonLogin {
  height: 50px;
  width: 100%;
  border-radius: 70px;
  background-color: #7e98df;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
}

.buttonLogin:hover,
.buttonLogin:focus,
.buttonLogin:active,
.buttonGoogle:hover,
.buttonGoogle:focus,
.buttonGoogle:active {
  background-color: #232323;
  color: #7e98df;
  border: 2px solid #232323 !important;
}

.rowLine {
  margin: 30px 50px 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-color: #dedede;
  height: 2px;
  width: 100px;
}

.textLoginWith {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #a5a4a4;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonGoogle {
  width: 100%;
  height: 50px;
  border-radius: 70px;
  background-color: white;
  color: #7e98df;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #7e98df;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.imgGoogle {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.textGoogle {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 600;
  color: #7e98df;
}

.accountSignUp {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textDont {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  font-weight: 500;
  color: #232323;
  margin-right: 10px;
}
.textSignUp {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #7e98df;
}

.modal {
  background-color: #7e98df63;
}

.modalTitle {
  color: #7e98df;
  font-weight: 600;
}

.modalFooter {
  background-color: #232323;
  color: #7e98df;
  width: 100px;
}

.modalFooter:hover {
  background-color: #7e98df;
  color: white;
}

.modalHeader {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #232323;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
