@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.container {
  font-family: "Rubik", sans-serif;
}

.notFound {
  color: #7e98df;
  font-weight: 600;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.boxToast {
  position: absolute;
  right: 0;
  display: flex;
  z-index: 99;
  background-color: #232323;
}

.toast {
  background-color: #232323;
  color: white;
}

.boxChatBubbleSender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding: 1em;
}

.boxChatBubbleReceiver {
  display: flex;
  align-items: center;
  padding: 1em;
}

.textMessageSender {
  background-color: #7e98df;
  color: white;
  font-weight: 500;
  padding: 1em;
  margin-right: 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.textMessageReceiver {
  background-color: #232323;
  color: white;
  font-weight: 500;
  padding: 1em;
  margin-left: 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.left {
  background-color: white;
  overflow-y: auto;
  height: 655px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7e98df;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e98df;
}

.right {
  background-color: #fafafa;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  height: 655px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  background: radial-gradient(#e2e0e0 3px, transparent 4px),
    radial-gradient(#e2e0e0 3px, transparent 4px),
    linear-gradient(#fafafa 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #e2e0e0 75px,
      #e2e0e0 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #e2e0e0 76px,
      #e2e0e0 77px,
      transparent 78px,
      transparent 109px
    ),
    #fafafa;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.textSelect {
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  color: #848484;
  height: 100%;
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowHeaderInfoCard {
  width: 31%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  display: flex;
  z-index: 9;
  position: fixed;
}

.line {
  background-color: #7e98df;
  height: 2px;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.lineMid {
  background-color: #7e98df;
  height: 2px;
  width: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.infoCard {
  text-decoration: none;
  color: #7e98df;
  height: 40px;
  font-size: 22px;
  font-weight: 600;
}

.infoCard:hover {
  color: #7e98df;
}

.linkProfile {
  margin-top: 20px;
  margin-left: 40px;
  text-decoration: none;
  color: #bdbdbd;
  height: 40px;
  font-size: 17px;
}

.titleSort {
  font-size: 20px;
  font-weight: 900;
  color: #7e98df;
  /* background-color: white; */
}

.listSort {
  border-radius: 3px;
  font-weight: lighter;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 22px;
  height: auto;
  margin-right: 20px;
}

.titleSort:hover,
.titleSort:active,
.titleSort:focus {
  outline: none !important;
  box-shadow: none !important;
}

.listSort:hover,
.listSort:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
  color: white;
  border-radius: 10px;
}

.textIcon {
  margin-top: auto;
  margin-bottom: auto;
}

.titleSort::after {
  display: none;
}

.menuDropdown {
  border: 3px solid #dedede;
  border-top-left-radius: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 20px;
  background-color: #7e98df;
  height: auto;
  width: 250px;
}

.rowHeaderInfoCard1 {
  margin-top: 80px;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.iconSearch {
  /* background-color: blue; */
  height: 25px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.buttonSearch {
  height: min-content;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  background-color: transparent;
}

.buttonPlus {
  width: 60px;
  height: 50px;
  border-radius: 15px;
}

.buttonContact:hover,
.buttonContact:active,
.buttonContact:focus {
  background-color: #232323;
  box-shadow: #232323;
}

.buttonContact {
  width: 60px;
  height: 50px;
  border-radius: 15px;
  background-color: #7e98df;
}

.buttonSearch:focus,
.buttonSearch:active,
.buttonSearch:hover {
  height: 50px;
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
}

.formGroup {
  background-color: #fafafa;
  height: 52px;
  width: 300px;
  border-radius: 20px;
}

.placeholder::placeholder {
  color: #848484;
}
.placeholder {
  border: 0 solid #fafafa;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  height: 45px;
  padding-left: 0;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 10px;
  background-color: transparent;
}

.placeholder:focus,
.placeholder:hover,
.placeholder:active,
.placeholder option:focus,
.placeholder option:active {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 0;
  background-color: transparent;
}

.rowHeaderInfoCard2 {
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  padding: 20px;
  margin-top: 10px;
  color: #848484;
}

.rowHeaderInfoCard2:hover,
.rowHeaderInfoCard2:focus,
.rowHeaderInfoCard2:active {
  background-color: #e2e0e0;
  outline: none !important;
  box-shadow: none !important;
  color: #848484;
}

.iconFriend {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.colRoom {
  /* background-color: yellow; */
  padding-right: 20px;
  padding-left: 20px;
  height: 60px;
}
.titleNameTime {
  display: flex;
  justify-content: space-between;
}

.nameReceiver {
  font-size: 18px;
  font-weight: 500;
  color: #232323;
}

.time {
  font-size: 14px;
  font-weight: 400;
}

.messageReceiver {
  font-size: 14px;
  font-weight: 400;
  color: #7e98df;
}

.boxNotif {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  background-color: #7e98df;
  color: white;
  /* font-size: 12px; */
  font-weight: 400;
}

.rowHeaderInfoCard3 {
  width: 31%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: fixed;
  display: flex;
  z-index: 9;
}

.iconBack {
  cursor: pointer;
}

.username {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #7e98df;
  font-size: 22px;
  font-weight: 600;
}

.rowHeaderInfoCard4 {
  margin-top: 80px;
  width: 100%;
  margin-right: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.rowHeaderInfoCard16 {
  margin-top: 80px;
  width: 100%;
  margin-right: 20px;
  margin-left: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  padding: 20px;
  position: relative;
}

.nameUser {
  font-size: 22px;
  font-weight: 500;
  color: #232323;
  margin-top: 20px;
  margin-bottom: 0;
}

.usernameProfile {
  font-size: 16px;
  font-weight: 500;
  color: #848484;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.rowHeaderInfoCard5 {
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 20px 20px 0px 20px;
}

.account,
.userSetting {
  font-size: 19px;
  font-weight: 600;
  color: #232323;
}

.phone {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}

.boxUpdateImage {
  background-color: transparent;
  color: transparent;
  width: 82px;
  height: 82px;
  border-radius: 100%;
  text-align: center;
  visibility: visible;
  margin: auto;
  cursor: pointer;
  display: flex;
  z-index: 2;
}

.updateImage {
  color: transparent;
  width: 82px;
  height: 82px;
  border-radius: 100%;
  visibility: hidden;
  margin: auto;
  cursor: pointer;
  z-index: 0;
  display: flex;
}

.profileUser {
  width: 82px;
  height: 82px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  margin: auto;
  cursor: pointer;
  z-index: 1;
}

.formUserImage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 82px;
  height: 82px;
}

.lineAccount {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
}

.placeholderFullname {
  width: max-content;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  text-align: center;
  color: #232323;
  border-radius: 20px;
}

.placeholderPhone {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #232323;
}

.changePhone {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #7e98df;
  margin-bottom: 0;
}
.boxButtonUpdate {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.buttonUpdate {
  display: flex;
  align-items: center;
  background-color: #7e98df;
  color: white;
  font-weight: 500;
  width: 130px;
  height: 40px;
  border: #7e98df;
  margin-left: 20px;
}

.buttonUpdate:hover {
  color: white;
  font-weight: 500;
  box-shadow: teal;
}

.buttonCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  width: 130px;
  height: 40px;
}

.but .placeholderUsername {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #232323;
}

.titleInputUsername,
.titleInputBio {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #848484;
}

.placeholderBio {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #232323;
}

.placeholderFullname,
.placeholderPhone,
.placeholderUsername,
.placeholderBio {
  border: 0;
  /* background-color: brown; */
  padding-left: 0;
}

.placeholderFullname:hover,
.placeholderFullname:active,
.placeholderFullname:focus,
.placeholderPhone:hover,
.placeholderPhone:active,
.placeholderPhone:focus,
.placeholderUsername:hover,
.placeholderUsername:active,
.placeholderUsername:focus,
.placeholderBio:hover,
.placeholderBio:active,
.placeholderBio:focus,
.placeholderBio::after {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: brown; */
}

.titleUserSetting {
  font-size: 17px;
  /* font-weight: 500; */
  margin-bottom: 0;
}

.colChangeLogout:hover,
.colChangeLogout1:hover {
  background-color: #232323;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.colChangeLogout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #232323;
  height: 90px;
  padding: 10px;
}

.colChangeLogout1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #232323;
  height: 90px;
  padding: 10px;
  margin-bottom: 30px;
}

.iconChange {
  width: auto;
  height: 24px;
  margin-right: 20px;
}

.bgImgContact {
  width: 60px;
  height: 50px;
  border-radius: 15px;
  background-color: #232323;
}

.bgImgContact:focus,
.bgImgContact:active,
.bgImgContact:hover {
  height: 50px;
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
}

.rowHeaderInfoCard6 {
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  padding: 20px;
  margin-top: 10px;
}

.rowHeaderInfoCard6:hover,
.rowHeaderInfoCard6:active,
.rowHeaderInfoCard6:focus {
  background-color: #e2e0e0;
  color: #232323;
  box-shadow: none;
}
.colRoom1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
  height: 60px;
}

.contactName {
  font-size: 18px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.buttonImgContact {
  width: 60px;
  background-color: #7e98df;
  color: white;
}

.buttonImgContact:hover,
.buttonImgContact:focus,
.buttonImgContact:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #7e98df;
  color: white;
}

.bgImgAddFriend {
  width: 60px;
  height: 50px;
  border-radius: 15px;
  background-color: #7e98df;
}

.bgImgAddFriend:focus,
.bgImgAddFriend:active,
.bgImgAddFriend:hover {
  height: 50px;
  outline: none !important;
  box-shadow: teal;
  background-color: #7e98df;
}

.rowHeaderInfoCard7 {
  margin-top: 80px;
  width: 100%;
  margin-right: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* background-color: brown; */
  padding: 20px;
  position: relative;
}

.textLabel {
  font-size: 16px;
  font-weight: 600;
  color: #232323;
}

.formGroupPassword {
  margin-bottom: 20px;
}

.placeholderPassword {
  border-bottom: 2px solid #7e98df;
  font-size: 14px;
  height: 50px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.placeholderPassword::placeholder {
  color: #7e98df;
}

.placeholderPassword:hover,
.placeholderPassword:active,
.placeholderPassword:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #232323;
  border-radius: 0;
}
.rowButton {
  margin-top: 20px;
}
.buttonLogin {
  width: 100%;
  background-color: #7e98df;
  border-radius: 10px;
  height: 50px;
  color: white;
}

.buttonLogin:focus,
.buttonLogin:hover,
.buttonLogin:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
  color: white;
}

/* RIGHT */
.rightProfile {
  width: 66.1%;
  background-color: white;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 4;
  flex-direction: row;
  padding-left: 0;
  margin-left: 0;
  align-items: center;
}

.rowHeaderInfoCard8 {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 0;
  background-color: white;
}

.contactNameRight {
  font-size: 18px;
  font-weight: 600;
  color: #232323;
  margin-bottom: 0;
  margin-left: 20px;
}

.online {
  font-size: 15px;
  font-weight: 400;
  color: #7e98df;
  margin-bottom: 0;
  margin-left: 20px;
}

.colMenu {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.colMenu:hover,
.colMenu:focus,
.colMenu:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
}

.buble {
  padding-top: 80px;
  margin-right: 0;
  padding-bottom: 80px;
  position: relative;
}
.colRight {
  background-color: cadetblue;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rowHeaderInfoCard9 {
  /* background-color: #232323; */
  width: 66.7%;
  margin-left: 0;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  padding-right: 20px;
  right: 0;
  bottom: 0;
  margin: auto auto 0 auto;
}

.iconSearch {
  /* background-color: blue; */
  height: 25px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.buttonSearch {
  height: 49px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-right: 10px;
}

.buttonPlus {
  width: 60px;
  height: 50px;
  border-radius: 15px;
}

.buttonPlus:focus,
.buttonPlus:active,
.buttonPlus:hover {
  outline: none !important;
  box-shadow: #7e98df;
  background-color: #232323;
}

.formGroupRight {
  background-color: #fafafa;
  height: auto;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 30px;
}

.placeholder::placeholder {
  color: #848484;
}
.placeholderRight {
  border: 0;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  background-color: #fafafa;
}

.inputGroupRight {
  height: 50px;
}

.placeholderRight:focus,
.placeholderRight:hover,
.placeholderRight:active,
.placeholderRight option:focus,
.placeholderRight option:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fafafa;
  border: 0;
}

.colAttachment {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  margin-right: 30px;
}

.menuDropdownRight {
  border: 3px solid #dedede;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 35px;
  padding: 20px;
  background-color: #7e98df;
  height: auto;
  width: 250px;
}

.emoticon {
  margin-right: 15px;
  cursor: pointer;
}

.video {
  cursor: pointer;
}

.colRightLeft {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
}

.bubleReceiver {
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.iconBubleReceiver {
  margin-bottom: auto;
  margin-top: 0;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 20px;
}

.bubleMessageReceiver {
  background-color: #7e98df;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}

.timeBubleReceiver {
  width: 100%;
  margin-top: 5px;
  color: #fafafa;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
  font-style: italic;
}

.bubleSender {
  width: 80%;
  margin-right: 0;
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-top: 5px;
  text-align: right;
  margin-bottom: 20px;
}

.iconBubleSender {
  margin-bottom: auto;
  margin-top: 0;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 20px;
}

.bubleMessageSender {
  background-color: #232323;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  color: white;
}

.timeBubleSender {
  width: 100%;
  color: white;
  margin-top: 5px;
  font-size: 14px;
  text-align: right;
  margin-bottom: 0;
  font-style: italic;
}

.colRightContact {
  margin-right: 15px;
  padding-left: 12px;
  position: relative;
  height: 100%;
}

.rightProfileAccount {
  width: 60%;
  background-color: white;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 4;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

.colAccountContact {
  background-color: white;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
}

.rowHeaderInfoCard10 {
  margin-left: 0;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
}

.rowHeaderInfoCard11 {
  width: 21.8%;
  height: 80px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: fixed;
  display: flex;
  z-index: 9;
}

.profileUserFriend {
  width: 82px;
  height: 82px;
  border-radius: 20px;
  display: flex;
  margin: auto;
  background-color: brown;
}

.colNameAccout {
  padding-left: 0;
}

.friendsName {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
  text-align: left;
  color: #232323;
  margin-bottom: 0;
}

.friendOnline {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #848484;
  margin-top: 0px;
  text-align: left;
}

.rowInfoAccountFriend {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.colMenuAccout {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 0;
}

.rowHeaderInfoCard12 {
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 0px 20px 20px 20px;
}

.friendsPhone {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  text-align: left;
  color: #232323;
  margin-bottom: 0;
}

.rowHeaderInfoCard13 {
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.buttonGroupAccount {
  width: 80%;
  margin: 0;
  padding: 0;
}

.boxButtonGroup {
  width: 80px;
  margin: 0;
  padding: 0;
}

.buttonAccount {
  background-color: #7e98df;
  color: white;
}

.buttonAccount:hover,
.buttonAccount:active,
.buttonAccount:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #232323;
  color: white;
}

.tabAccountProfile {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e98df;
  font-weight: 600;
}

.modal {
  background-color: #7e98df63;
}

.modalTitle {
  color: #7e98df;
  font-weight: 600;
}

.modalFooter {
  background-color: #232323;
  color: #7e98df;
  width: 100px;
}

.modalFooter:hover {
  background-color: #7e98df;
  color: white;
}

.modalHeader {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #232323;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.textResponse {
  width: auto;
  height: auto;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #848484;
  text-align: center;
}

.colResponse {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199.98px) {
  .rowHeaderInfoCard8 {
    position: relative;
    height: max-content;
    margin-top: 0;
    margin-bottom: 0;
  }

  .right {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .rightProfile {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    height: max-content;
  }

  .left {
    position: relative;
    height: max-content;
  }

  .rowHeaderInfoCard {
    padding: 10px;
    width: 100%;
    position: relative;
  }

  .rowHeaderInfoCard9,
  .rowHeaderInfoCard3 {
    width: 100%;
  }
  .rowHeaderInfoCard1 {
    margin-top: 0;
    padding: 10px;
  }

  .boxChatBubbleReceiver {
    padding-left: 2em;
  }

  .buble {
    padding-top: 0;
  }

  .rightProfileAccount {
    width: 100%;
    position: relative;
    padding: 10px;
  }

  .colRightContact {
    margin-right: 0;
    background-color: white;
  }

  .friendsName {
    text-align: center;
  }

  .friendOnline {
    text-align: center;
  }

  .buttonGroupAccount {
    width: 100%;
    padding: 1em;
  }

  .boxButtonGroup {
    width: 100%;
    padding: 0;
  }
}
